# file
*.fastq
*.fasta
*.fa
*.qual.txt
*.fq
*.bam
*.cram
*.vcf
*.bed
*.sam
*.bai
*.tbi
*.idx
*.gz
*.taxids.txt
*.zip
*.log

# db  
/database/
/db/
/results/
/logs/
.snakemake/
/ListTaxIdV1/
# file temporaires
*.tmp
*.temp
*.swp
*~
./*/*fasta
# Environnements virtuels
/venv/
/env/
__pycache__

# OS files
.DS_Store
Thumbs.db
save.sh